footer {
    text-align: center;
    background: $gray-900;
    border-top: 2px double $lightBlue;
    position: relative;
    p {
        color: $lightBlue;
        margin-bottom: 0;
        cursor: pointer;
    }
}
