.services {
    padding: 50px 0 75px;
    background: $gray-900;
    color: white;
    clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 82%, 0 0);
    .service {
        font-size: clamp(1.3rem, 1.5rem, 2rem);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            font-family: 'Cinzel', serif;
            font-weight: 900;
            font-size: clamp(2.5rem, 3vw, 3rem);
            color: $lightBlue;
        }

        .circle {
            border: 1px white solid;
            font-size: clamp(1.5rem, 1.8rem, 2.5rem);
            text-align: center;
            height: 40px;
            width: 40px;
            margin: 10px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.5s;
            &:hover,
            &:focus {
                border: 1px transparent solid;
            }
        }
    }

    @include media-breakpoint-between(xs,sm) {
        .left {
            text-align: left;
            flex-direction: row;
            margin-top: 20px;
        }
    }

    .hide {
        display: none;
    }
    @include media-breakpoint-up(sm) {
        .hide {
            display: block;
        }
    }
}

.sectionTwo {
    padding: 40px 0;
    .contact {
        background: transparent;
        padding: 0;
        h3 {
            font-family: 'Cinzel', serif;
        }
        div {
            border: 1px black solid;
            text-align: center;
        }
    }
}

