.services {
    padding: 40px 0 75px;
    background: $gray-900;
    color: white;
    clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 82%, 0 0);

    .toggleView {
        opacity: 0;
        transition: 0.5s all;
        text-align: center;
        color: $lightBlue;
        text-decoration: underline;
        font-style: italic;
        &.active {
            opacity: 1;
        }
    }

    .service {
        font-size: clamp(1.3rem, 1.5rem, 2rem);
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: 'Cinzel', serif;
            font-weight: 900;
            font-size: clamp(2.5rem, 3vw, 3rem);
            color: $lightBlue;
        }

        .circle {
            border: 1px white solid;
            font-size: clamp(1.5rem, 1.8rem, 2.5rem);
            text-align: center;
            height: 40px;
            width: 40px;
            margin: 10px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.5s;
            &:hover,
            &:focus {
                border: 1px transparent solid;
            }
        }
    }

// mixin:: move two services to left-align at sm-md
    @include media-breakpoint-between(xs,sm) {
        .left {
            text-align: left;
            flex-direction: row;
            margin-top: 20px;
        }
    }

// mixin:: hide p tags on mobile
    .hide {
        display: none;
    }
    @include media-breakpoint-up(sm) {
        .hide {
            display: block;
        }
    }
}





.sectionTwo {
    padding: 50px 0;
    iframe {
        border: 1px black solid;
    }
    .contact {
        height: 230px;
        h3 {
            font-family: 'Cinzel', serif;
            text-decoration: underline;
        }
        // each contact item
        div {
            border: 1px black solid;
            border-top: 3px black solid;
            text-align: center;
            padding-top: 5px;
        }
        // section text
        .info {
            overflow: scroll;
            font-size: clamp(1.2rem, 1.5rem, 2rem);
        }
    }
}

